{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <h2>Create a Task</h2>
    <form method="POST" enctype="multipart/form-data">
        {% comment %} enctype="multipart/form-data" {% endcomment %}
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Form is not valid. Please correct the errors below.
        </div>
        {% endif %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        {{form.title}}
        {{form.description}}
        {{form.due_date}}
        {{form.priority}}

        
        {{ photo_form.image|add_class:"form-control" }}
       
            {% comment %} <input type="file" name='photo' class="custom-file-input" id="inputGroupFile01"> {% endcomment %}
          
        {{form.is_complete}}
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>
</div>

{% endblock content %} 

{% comment %}

<div class="container mt-4">
    <h2>Create Task</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endcomment %}