{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Create a Task</h2>
    <form method="post" >
        {% comment %} enctype="multipart/form-data" {% endcomment %}
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Form is not valid. Please correct the errors below.
        </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>
</div>

{% endblock content %} 

{% comment %}

<div class="container mt-4">
    <h2>Create Task</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endcomment %}