{% extends "base.html" %}

{% block content %}
<div class="container">
    {% comment %} <h2>Welcome to the Home Page</h2> {% endcomment %}
    
</div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Task List</h2>
        <a href="{% url 'task_create' %}" class="btn btn-primary">Create Task</a>
    </div>
    

    <form method="get">
        <div class="row">
            <div class="col-md-2">
                <label for="title">Title:</label>
                {{ filter_form.title }}
            </div>
            <div class="col-md-2">
                <label for="created_at_start">Created At (Start):</label>
                {{ filter_form.created_at_start }}
            </div>
            <div class="col-md-2">
                <label for="created_at_end">Created At (End):</label>
                {{ filter_form.created_at_end }}
            </div>
            <div class="col-md-2">
                <label for="due_date_start">Due Date (Start):</label>
                {{ filter_form.due_date_start }}
            </div>
            <div class="col-md-2">
                <label for="due_date_end">Due Date (End):</label>
                {{ filter_form.due_date_end }}
            </div>
            <div class="col-md-2">
                <label for="due_date_end">Priority</label>
                {{ filter_form.priority }}
            </div>
            <div class="col-md-2">
                <label for="due_date_end">Completed</label>
                {{ filter_form.is_complete }}
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in object_list %}
            <tr>
                <td>{{ task.title|default_if_none:"-" }}</td>
                <td>{{ task.created_at|default_if_none:"-" }}</td>
                <td>{{ task.due_date|default_if_none:"-" }}</td>
                <td>{{ task.get_priority_display|default_if_none:"-" }}</td>
                <td>{% if task.is_complete %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{% url 'task_details' task.pk %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
                   
                </td>
            </tr>
            <!-- Delete Task Modal -->

            {% empty %}
            <tr>
                <td colspan="6">No tasks found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
